@property --clr-surface-container {
  syntax: '<color>';
  inherits: true;
  initial-value: oklch(0.9 0.2497 281.22);
}

:root {
  color-scheme: light dark;

  // primary colors

  --clr-primary-base: oklch(0.5093 0.2497 281.22);

  --clr-primary: light-dark(
    var(--clr-primary-base),
    oklch(from var(--clr-primary-base) 0.8 c h)
  );
  --clr-on-primary: light-dark(
    oklch(from var(--clr-primary-base) 1 c h),
    oklch(from var(--clr-primary-base) 0.2 c h)
  );
  --clr-primary-container: light-dark(
    oklch(from var(--clr-primary-base) 0.9 c h),
    oklch(from var(--clr-primary-base) 0.3 c h)
  );
  --clr-on-primary-container: light-dark(
    oklch(from var(--clr-primary-base) 0.3 c h),
    oklch(from var(--clr-primary-base) 0.9 c h)
  );
  --clr-primary-fixed: oklch(from var(--clr-primary-base) 0.9 c h);
  --clr-on-primary-fixed: oklch(from var(--clr-primary-base) 0.1 c h);
  --clr-primary-fixed-dim: oklch(from var(--clr-primary-base) 0.8 c h);
  --clr-on-primary-fixed-variant: oklch(from var(--clr-primary-base) 0.3 c h);
  --clr-inverse-primary: light-dark(
    oklch(from var(--clr-primary-base) 0.8 c h),
    oklch(from var(--clr-primary-base) 0.4 c h)
  );

  // secondary colors

  --clr-secondary-base: oklch(0.4692 0.1435 141.6);

  --clr-secondary: light-dark(
    var(--clr-secondary-base),
    oklch(from var(--clr-secondary-base) 0.8 c h)
  );
  --clr-on-secondary: light-dark(
    oklch(1 0 0),
    oklch(from var(--clr-secondary-base) 0.2 c h)
  );
  --clr-secondary-container: light-dark(
    oklch(from var(--clr-secondary-base) 0.9 c h),
    oklch(from var(--clr-secondary-base) 0.3 c h)
  );
  --clr-on-secondary-container: light-dark(
    oklch(from var(--clr-secondary-base) 0.3 c h),
    oklch(from var(--clr-secondary-base) 0.9 c h)
  );
  --clr-secondary-fixed: oklch(from var(--clr-secondary-base) 0.9 c h);
  --clr-on-secondary-fixed: oklch(from var(--clr-secondary-base) 0.1 c h);
  --clr-secondary-fixed-dim: oklch(from var(--clr-secondary-base) 0.8 c h);
  --clr-on-secondary-fixed-variant: oklch(
    from var(--clr-secondary-base) 0.3 c h
  );

  // tertiary colors

  --clr-tertiary-base: oklch(0.4 0.3208 310.18);

  --clr-tertiary: light-dark(
    var(--clr-tertiary-base),
    oklch(from var(--clr-tertiary-base) 0.8 c h)
  );
  --clr-on-tertiary: light-dark(
    oklch(1 0 0),
    oklch(from var(--clr-tertiary-base) 0.2 c h)
  );
  --clr-tertiary-container: light-dark(
    oklch(from var(--clr-tertiary-base) 0.9 c h),
    oklch(from var(--clr-tertiary-base) 0.3 c h)
  );
  --clr-on-tertiary-container: light-dark(
    oklch(from var(--clr-tertiary-base) 0.3 c h),
    oklch(from var(--clr-tertiary-base) 0.9 c h)
  );
  --clr-tertiary-fixed: oklch(from var(--clr-tertiary-base) 0.9 c h);
  --clr-on-tertiary-fixed: oklch(from var(--clr-tertiary-base) 0.1 c h);
  --clr-tertiary-fixed-dim: oklch(from var(--clr-tertiary-base) 0.8 c h);
  --clr-on-tertiary-fixed-variant: oklch(from var(--clr-tertiary-base) 0.3 c h);

  // error colors

  --clr-error-base: oklch(0.4 0.2964 22.85);

  --clr-error: light-dark(
    var(--clr-error-base),
    oklch(from var(--clr-error-base) 0.8 c h)
  );
  --clr-on-error: light-dark(
    oklch(1 0 0),
    oklch(from var(--clr-error-base) 0.2 c h)
  );
  --clr-error-container: light-dark(
    oklch(from var(--clr-error-base) 0.9 c h),
    oklch(from var(--clr-error-base) 0.3 c h)
  );
  --clr-on-error-container: light-dark(
    oklch(from var(--clr-error-base) 0.3 c h),
    oklch(from var(--clr-error-base) 0.9 c h)
  );
  --clr-error-fixed: oklch(from var(--clr-error-base) 0.9 c h);
  --clr-on-error-fixed: oklch(from var(--clr-error-base) 0.1 c h);
  --clr-error-fixed-dim: oklch(from var(--clr-error-base) 0.8 c h);
  --clr-on-error-fixed-variant: oklch(from var(--clr-error-base) 0.3 c h);

  // surface colors

  --clr-surface: light-dark(
    oklch(from var(--clr-primary-base) 0.98 0.024 h),
    oklch(from var(--clr-primary-base) 0.06 0.024 h)
  );
  --clr-on-surface: light-dark(
    oklch(from var(--clr-primary-base) 0.1 0.024 h),
    oklch(from var(--clr-primary-base) 0.9 0.024 h)
  );
  --clr-on-surface-variant: light-dark(
    oklch(from var(--clr-primary-base) 0.3 0.024 h),
    oklch(from var(--clr-primary-base) 0.8 0.024 h)
  );
  --clr-surface-dim: light-dark(
    oklch(from var(--clr-primary-base) 0.87 0.024 h),
    oklch(from var(--clr-primary-base) 0.06 0.024 h)
  );
  --clr-surface-container-lowest: light-dark(
    oklch(from var(--clr-primary-base) 1 0.024 h),
    oklch(from var(--clr-primary-base) 0.03 0.024 h)
  );
  --clr-surface-container-low: light-dark(
    oklch(from var(--clr-primary-base) 0.96 0.024 h),
    oklch(from var(--clr-primary-base) 0.12 0.024 h)
  );
  --clr-surface-container: light-dark(
    oklch(from var(--clr-primary-base) 0.94 0.024 h),
    oklch(from var(--clr-primary-base) 0.18 0.024 h)
  );
  --clr-surface-container-high: light-dark(
    oklch(from var(--clr-primary-base) 0.92 0.024 h),
    oklch(from var(--clr-primary-base) 0.25 0.024 h)
  );
  --clr-surface-container-highest: light-dark(
    oklch(from var(--clr-primary-base) 0.9 0.024 h),
    oklch(from var(--clr-primary-base) 0.32 0.024 h)
  );
  --clr-inverse-surface: light-dark(
    oklch(from var(--clr-primary-base) 0.25 0.024 h),
    oklch(from var(--clr-primary-base) 0.95 0.024 h)
  );
  --clr-inverse-on-surface: light-dark(
    oklch(from var(--clr-primary-base) 0.95 0.024 h),
    oklch(from var(--clr-primary-base) 0.25 0.024 h)
  );

  // outline colors

  --clr-outline: light-dark(
    oklch(from var(--clr-primary-base) 0.5 0.024 h),
    oklch(from var(--clr-primary-base) 0.6 0.024 h)
  );
  --clr-outline-variant: light-dark(
    oklch(from var(--clr-primary-base) 0.8 0.024 h),
    oklch(from var(--clr-primary-base) 0.3 0.024 h)
  );

  // scrim and shadow colors

  --clr-scrim: oklch(0 0 0 / 0.32);
  --clr-shadow: light-dark();
}
