*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100svh;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  line-height: inherit;
}

input:not([type='checkbox']):not([type='radio']):not([type='range']):not(
    [type='color']
  ),
button,
textarea,
select {
  min-height: 2.75rem;
}

button,
[role='button'] {
  cursor: pointer;
  border: none;
}

button:disabled,
[role='button'][aria-disabled='true'] {
  cursor: not-allowed;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[hidden] {
  display: none !important;
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}
