@use 'colors';
@use 'typography';
@use 'reset';

:focus-visible {
  outline: 2px solid var(--clr-primary);
  outline-offset: 2px;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--clr-surface);
  container-type: inline-size;
}

.site-header {
  height: 4rem;
  padding-inline: 2rem;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: auto 1fr repeat(2, auto);
  grid-template-areas: 'logo . theme login';
  gap: 0.5rem;
  align-items: center;
  background-color: transparent;
  color: var(--clr-on-surface);
  transition: background-color 300ms cubic-bezier(0.36, 0, 0.64, 1);
  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: currentColor;
    grid-area: logo;
    overflow: hidden;
    text-indent: -9999px;
    white-space: nowrap;
    font: var(--brand-text);
  }
  &__theme-toggle {
    grid-area: theme;
  }
  &__login {
    grid-area: login;
  }
  @supports (animation-timeline: scroll()) {
    animation: sticky-header 300ms cubic-bezier(0.36, 0, 0.64, 1) both;
    animation-timeline: scroll();
    animation-range: 0 4rem;
  }
  &--scrolled {
    background-color: var(--clr-surface-container);
    transition: background-color 300ms cubic-bezier(0.36, 0, 0.64, 1);
  }
  @container (inline-size > 64rem) {
    &__logo {
      text-indent: 0;
    }
  }
}

@keyframes sticky-header {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--clr-surface-container);
  }
}

.btn {
  &:empty {
    display: none;
  }
  &--icon {
    inline-size: 3rem;
    block-size: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: background-color 300ms cubic-bezier(0.36, 0, 0.64, 1);
    &:has(svg) {
      fill: var(--clr-on-surface-variant);
    }
    @media (hover: hover) {
      &:hover {
        background-color: oklch(
          from var(--clr-on-surface-variant) l c h / 0.08
        );
        transition: background-color 300ms cubic-bezier(0.36, 0, 0.64, 1);
      }
    }
  }
  &--tonal {
    background-color: var(--clr-secondary-container);
    &:has(svg) {
      fill: var(--clr-on-secondary-container);
      transition: background-image 300ms cubic-bezier(0.36, 0, 0.64, 1);
    }
    &:hover {
      background-color: var(--clr-secondary-container);
      background-image: linear-gradient(
        0deg,
        oklch(from var(--clr-on-secondary-container) l c h / 0.08),
        oklch(from var(--clr-on-secondary-container) l c h / 0.08)
      );
      transition: background-image 300ms cubic-bezier(0.36, 0, 0.64, 1);
    }
  }
}

#features, #pricing, #contact {
  scroll-margin-block-start: 5rem;
}
